<!DOCTYPE html>
<html lang=en dir="ltr">
<head>
  <title>Particle Simulator</title>
</head>

<body>
  <center>
  <h1> Particle Simulator </h1>
  <form method="POST" name="init">
    Time: <input type="text" name="time" size="5"> <br> <br>
    Mass 1: <input type="text" name="massOne" size="5"> <br> <br>
    Velocity 1: (<input type="text" name="velOneX" size="1">, <input type="text" name="velOneY" size="1">) <br> <br>
    Position 1: (<input type="text" name="posOneX" size="1">, <input type="text" name="posOneY" size="1">) <br> <br>
    Mass 2: <input type="text" name="massTwo" size="5"> <br> <br>
    Velocity 2: (<input type="text" name="velTwoX" size="1">, <input type="text" name="velTwoY" size="1">) <br> <br>
    Position 2: (<input type="text" name="posTwoX" size="1">, <input type="text" name="posTwoY" size="1">) <br> <br>
    <input type="submit" value="Simulate!"> <br> <br>
  </form>
  <button>Randomize Values</button onclick="randomize()">
  </center>
</body>

<script>
function randomize() {
  var form = document.forms.init;
  // form.elements.massOne.
}

</script>
