<!DOCTYPE html>
<html lang=en dir="ltr">
<head>
  <title>Particle Simulator</title>
  <link rel="stylesheet" type="text/css" href="static/basic.css">
</head>

<body>
  <center>
  <h1> Particle Simulator </h1>  
  <form method="POST" id="form">
    Number of Particles: <input type="text" id="numParticles" name="numParticles" value="3"> <button id="wow" type="button"> Calibrate </button> <br> <br>
    Time: <input type="text" id="time" name="time" size="5"> <br> <br>
    Exponent of Force: <input type="text" id="coeff" name="coeff" size="5" value="3"> <br> <br>
    <div id="placeDiv"></div>
  </form>
  <button OnClick="randomize()" type="button">Randomize Values</button>
  <br>
  <button onclick="location.href='about'">Help!</button>
  </center>
</body>

<script>
function randomize() {
  num = getRandomInt(1, 11);
  document.getElementById("numParticles").value = num;
  document.getElementById("wow").click();
  document.getElementById("time").value = "100";

  for (var i = 1; i < num + 1; i = i + 1) {
    document.getElementById("mass" + i).value = detMass(getRandomInt(0, 2));
    document.getElementById("vel" + i + "X").value = getRandomInt(-3, 3);
    document.getElementById("vel" + i + "Y").value = getRandomInt(-3, 3);
    document.getElementById("pos" + i + "X").value = getRandomInt(-30, 30);
    document.getElementById("pos" + i + "Y").value = getRandomInt(-30, 30);
  }
}

function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min; //The maximum is exclusive and the minimum is inclusive
}

function detMass(num) {
  if (num == 1) {
    return 1000;
  } else {
    return 3000;
  }
}

var form = document.getElementById("placeDiv");
var button = document.getElementById("wow");

function calibrateForm() {
  form.innerHTML = ""
  var num = Number(numParticles.value);
  for (var i = 1; i < num + 1; i = i + 1) {
    var div = document.createElement("div");
    div.innerHTML = `    Mass ${i}: <input type="text" id="mass${i}" name="mass${i}"> <br> <br>
    Velocity ${i}: (<input type="text" id="vel${i}X" name="vel${i}X" size="1">, <input type="text" id="vel${i}Y" name="vel${i}Y" size="1">) <br> <br>
    Position ${i}: (<input type="text" id="pos${i}X" name="pos${i}X" size="1">, <input type="text" id="pos${i}Y" name="pos${i}Y" size="1">) <br> <br>`
    form.appendChild(div);
  }

  var div = document.createElement("div");
  div.innerHTML = `<input type="submit" value="Simulate!"> <br> <br>`
  form.appendChild(div);
}

button.addEventListener("click", calibrateForm);

</script>
/